html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Forum", "Poiret One", "Cormorant Unicase", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  body {
    font-size: 1.3em;
  }
}

.flex {
  display: flex;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-vertical-center {
  align-items: center;
}

.column-2 {
  flex: 50%;
}

.column-3 {
  flex: 33%;
}

/* PARALLAX */

.paralax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.paralax-background {
  display: none;
}

@media (min-width: 600px) {
  .paralax-background {
    display: block;
    position: absolute;
    height: 2500px;
    width: 100%;
    transform: translateZ(-1px) scale(2);
    background-image: url("./images/Bricks.png");
  }
}

.paralax-wrapper {
  background-color: rgba(255,255,255,0.8);
}

@media (min-width: 600px) {
  .paralax-wrapper {
    width: 80%;
    margin: auto;
    transform: translateZ(0);
  }
}

/* HEADER */

.header-image {
  width: 100%;
}

@media (min-width: 600px) {
  .header-image {
    display: block;
    margin: auto;
    width: 100%;
  }
}

.header-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(255,255,255, 0.7);
  box-sizing: border-box;
}

#header {
  height: 129px;
}

@media (min-width: 600px) {
  #header {
    height: initial;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255, 0.4);
  }
}

.logo {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 3px black;
}

@media (min-width: 600px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

.company-name {
  margin-left: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

.phone {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 10px;
  font-weight: bold;
  text-shadow: 0 0 10px white;
}

.tel-link {
  display: inline;
  text-decoration: none;
  color: black;
}

.tel {
  display: none;
}

@media (min-width: 600px) {
  .tel-link {
    display: none;
  }
  
  .tel {
    display: inline;
  }
}

.phone-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.viber {
  margin-left: 5px;
  filter: drop-shadow(0px 0px 10px white);
}

@media (min-width: 600px) {
  .phone {
    margin: 0 0 0 10px;
  }

  .viber {
    filter: none;
  }
}

.media-logo {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin: 0 10px;
  cursor: pointer;
}

/* NAVBAR */

.navbar-wrapper {
  display: none;
  background-color: navy;
  color: white;
  height: 30px;
  position: sticky;
  top: 0;
}

@media (min-width: 600px) {
  .navbar-wrapper {
    height: 50px;
    display: block;
  }
}

.navbar-wrapper ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.navbar-wrapper ul a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  padding: 15px 0;
}

.navbar-wrapper ul a:hover {
  color: red;
}

/* GREETING */

.greeting {
  text-align: center;
}

/* JOBS LIST */

#jobs-wrapper {
  width: 100%;
}

.job {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 0.7em;
  padding-left: 1px;
}

.img-10-porch, .img-11-stairs, .img-12-skirt, .img-13-masonry, .img-14-slab, 
.img-15-roof, .img-16-coldproof, .img-1-design, .img-2-foundations, .img-3-basement, 
.img-4-floor, .img-5-pit, .img-6-reinforcement, .img-7-monobelt, .img-8-sewers, 
.img-9-extsewers
{
  max-width: 40%;
  background-size: 40%;
  background-image: url("./images/jobs_sprites.png");
  flex-shrink: 0;
  margin-right: 7px;
  border: 1px solid navy;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .img-10-porch, .img-11-stairs, .img-12-skirt, .img-13-masonry, .img-14-slab, 
  .img-15-roof, .img-16-coldproof, .img-1-design, .img-2-foundations, .img-3-basement, 
  .img-4-floor, .img-5-pit, .img-6-reinforcement, .img-7-monobelt, .img-8-sewers, 
  .img-9-extsewers
  {
    max-width: 100%;
    background-size: 100%;
  }
}

.img-10-porch { background-position: 0 0%; background-size: 100%; }
.img-11-stairs { background-position: 0 6.666667%; background-size: 100%; }
.img-12-skirt { background-position: 0 13.333333%; background-size: 100%; }
.img-13-masonry { background-position: 0 20%; background-size: 100%; }
.img-14-slab { background-position: 0 26.666667%; background-size: 100%; }
.img-15-roof { background-position: 0 33.333333%; background-size: 100%; }
.img-16-coldproof { background-position: 0 40%; background-size: 100%; }
.img-1-design { background-position: 0 46.666667%; background-size: 100%; }
.img-2-foundations { background-position: 0 53.333333%; background-size: 100%; }
.img-3-basement { background-position: 0 60%; background-size: 100%; }
.img-4-floor { background-position: 0 66.666667%; background-size: 100%; }
.img-5-pit { background-position: 0 73.333333%; background-size: 100%; }
.img-6-reinforcement { background-position: 0 80%; background-size: 100%; }
.img-7-monobelt { background-position: 0 86.666667%; background-size: 100%; }
.img-8-sewers { background-position: 0 93.333333%; background-size: 100%; }
.img-9-extsewers { background-position: 0 100%; background-size: 100%; }

@media (min-width: 600px) {
  #jobs-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .job {
    padding-left: 50px;
    font-size: 1em;
  }

}

/* ADVANTAGES LIST */

.concrete-opt, .credits-opt, .experience-opt, .machinery, .opalubka-opt, .shipping {
  max-width: 90%;
  background-size: 90%;
  background-image: url("./images/advantages_sprites.png");
  border-radius: 3px;
  border: 1px solid grey;
  margin: 0 auto;
  display: block;
}

@media (min-width: 600px) {
  .concrete-opt, .credits-opt, .experience-opt, .machinery, .opalubka-opt, .shipping {
    max-width: 100%;
    background-size: 100%;
  }
}
 
.concrete-opt { background-position: 0 0%; background-size: 100%; }
.credits-opt { background-position: 0 20%; background-size: 100%; }
.experience-opt { background-position: 0 40%; background-size: 100%; }
.machinery { background-position: 0 60%; background-size: 100%; }
.opalubka-opt { background-position: 0 80%; background-size: 100%; }
.shipping { background-position: 0 100%; background-size: 100%; }

/* STAGES */

.stages-list {
  padding-left: 5px;
}

.img-1-phone, .img-2-onsite, .img-3-calc, .img-4-psd, .img-5-geodesy, 
.img-6-shipping, .img-7-work, .img-8-acceptance
{
  max-width: 100%;
  width: 20%;
  background-size: 100%;
  background-image: url("./images/stages_sprites.png");
  border-radius: 50%;
  border: 1px solid navy;
  margin-right: 7px;
  flex-shrink: 0;
  display: block;
}

@media (min-width: 600px) {
  .img-1-phone, .img-2-onsite, .img-3-calc, .img-4-psd, .img-5-geodesy, 
  .img-6-shipping, .img-7-work, .img-8-acceptance
  {
    width: initial;
    background-size: 100%;
  }
}
 
.img-1-phone { background-position: 0 0%; }
.img-2-onsite { background-position: 0 14.285714%; }
.img-3-calc { background-position: 0 28.571429%; }
.img-4-psd { background-position: 0 42.857143%; }
.img-5-geodesy { background-position: 0 57.142857%; }
.img-6-shipping { background-position: 0 71.428571%; }
.img-7-work { background-position: 0 85.714286%; }
.img-8-acceptance { background-position: 0 100%; }

/* GALLERY */

.gallery-link {
  display: block;
}

.gallery-media {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin: 0 30px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .gallery-media {
    width: 80px;
    height: 80px;
  }
}

/* FOOTER */

.footer {
  width: 100%;
  background-color: navy;
  color: white;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 15px 0;
  margin-top: 15px;
}

@media (min-width: 600px) {
  .footer {
    height: 50px;
  }
}


