.app___3DXCL {
  width: 100%;
  margin: 0 auto 75px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Pacifico', cursive; }

.logo___Y_Zck {
  width: 90px;
  -webkit-filter: drop-shadow(3px 3px 7px #222);
          filter: drop-shadow(3px 3px 7px #222); }

.footer___20GxB {
  padding: 20px;
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #262228;
  border-top: 1px solid darkgray;
  color: white; }
  .footer___20GxB a {
    color: white; }

.logout___uf0Oy {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }

.spinner___2sgtW {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5); }

.spinnerFidget___kvB7q {
  position: absolute;
  -webkit-animation: infinite-spinning___1CyxQ 3s infinite linear;
          animation: infinite-spinning___1CyxQ 3s infinite linear;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%; }

@-webkit-keyframes infinite-spinning___1CyxQ {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes infinite-spinning___1CyxQ {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

.header___ExgYT span {
  background-color: #FFCE00;
  font-size: 2em;
  font-family: "Pacifico"; }

img.logo-img___1ozcQ {
  -webkit-filter: drop-shadow(0px 0px 10px #262228);
          filter: drop-shadow(0px 0px 10px #262228); }

.home___22UUy {
  width: 80%;
  background-color: #03b7ff;
  margin: 0 auto;
  padding: 20px; }

